* {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

aside{
    height: 100vh;
    width: 24%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
main{
    height: 100vh;
    width: 76%;
    background: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;

}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 76%;
}

header{
    width: 100%;
    height: 80px;
    background-color: bisque;
    align-items: flex-start;
}

nav {
    height: 80px;
    width: 100%;
    background: white;
}



footer{
    height: 75px;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
section{
     display: flex;
     background-color: white;
     height: 100%;
     width: 100%;
 }
