* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif !important;
}
ul#ululu{
  list-style: none;
  padding: 0px;
  display: flex;
  margin-top: 20px;
margin-left: 44px;
}
.navbar-custom{
  display: flex;
  align-content: space-between;
}
.navbar-toggler-icon{
  height: 20px !important;
  width: 20px !important;
}
.nav-custom{
  height: 80px;
  margin-top: 22px;
}
.drop-custom{
font-size: 17px;
line-height: 22px;
color: #424242 !important;
padding-left: 0px !important;
padding-right: 20px !important;
font-weight: bold;

}
.logo-home{
  height: 50px;
  width: 50px;
}
.logo-bar{
   display: flex;
  margin-right: 15px;
  align-items: center;
}
.search-custom{
  height: 43px !important;
  font-size: 17px !important;
  line-height: 22px;
  background-color: white;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.search-logo-custom{
  height: 43px !important;
  font-size: 17px !important;
  line-height: 22px;
  background-color: white;
  border: 1px;
  border-radius: 20px !important;
}
aside{
  background-color: white;
  transform: translateX(-100%);
  position: fixed;
  
  
}
aside.active{
  transform: translateX(0px);
  transition: 0.5s ease-in-out;
}
main{
  margin: 0px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
main.inactive{
transform: translateX(30%);
width: 76%;
transition: 0.5s ease-in-out;
}

.shadow-custom{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.menu-profil{
  margin-left: 27%;
  margin-right: 10%;
}
.foto-profil{
  height: 150px;
  width: 150px;
}
.username-login{
  font-weight: bold;
  font-size: 25px;
  margin-top: 16px;
}
.togler-custom{
  margin-left: 75% !important;
}.togler-custom2{
  margin-left: 10% !important;
}
nav{
  position: relative;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

#formsearch{
  font-size: 17px !important;

}

ul.list-side{
  margin-top: 3rem;
}
.list-side li{
  list-style: none ;
  font-weight: 600;
  line-height: 34px;
  width: 244px;
  height: 56px;
margin-left: 0px;
margin-top: 10px;
}
.list-side li a{
  font-size:25px ;
  color: black;
  font-style: normal;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #EEE;
}
.carousel-custom{
  height: 29%;
  width:100%;
  margin-top: 36px;
}

.gallery-cell {
  /* width:   41% !important;
  height: 29% !important; */
  width:   600px !important;
  height: 300px !important;
  margin-right: 68px;
  counter-increment: gallery-cell;
}
.gambar-cell-1{
  background: url(../assets/d96eff85-ae75-4f56-bdfc-dd7a055e7400.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ga6mbar-cell-2{
  background: url(../assets/laskar.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.gambar-cell-3{
  background: url(../assets/3992f708-3a68-412d-b583-e19d6a02df80.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.gambar-cell-4{
  background: url(../assets/977994_346fec47-0d83-4c64-ac50-b3e121e797d0_700_700.svg);
  background-repeat: no-repeat;
  background-size: cover;

}
.gambar-cell-5{
  background: url(../assets/covernya.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.book-container{
  margin-top: 79px;
  margin-left: 40px;
}

.list-book-title{
 font-size: 25px;
 line-height: 32px;
 color: black    ;
}

.card{
  width: 320px;
  height: max-content;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px !important;
  
}
.card-text{
  font-size: 15px;

}
.card-list-book{
  display: flex ;
  justify-content: space-between;
}

.hide{
  display:none;
}